@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<center><h2>Muscle Groups</h2></center>

<center><table style="text-align: center" width:100%>
    <tr>
        <td>
            <img id="MuscleGroups" alt="Shoulders" width="200px" height="150" src="/images/shoulders_0.webp"/> <br>
            <a href='@Url.Action("Shoulders", "MuscleGroups")' title="Shoulders"><h3>Shoulders</h3></a>

        </td>
        <td>
            <img id="MuscleGroups" alt="Chest" width="200px" height="150"  src="/images/chest_0.webp" /> <br>
            <a href='@Url.Action("Chest", "MuscleGroups")' title="Chest"><h3>Chest</h3></a>
        </td>
        <td>
            <img id="MuscleGroups" alt="Back" width="200px" height="150"  src="/images/upperback.webp" /> <br>
            <a href='@Url.Action("Back", "MuscleGroups")' title="Back"><h3>Back</h3></a>
        </td>
        <td>
            <img id="MuscleGroups" alt="Lats" width="200px" height="150"  src="/images/lats_0.webp" /> <br>
            <a href='@Url.Action("Lats", "MuscleGroups")' title="Lats"><h3>Lats</h3></a>
        </td>
    </tr>
    
    <tr>
        <td>
            <img id="MuscleGroups" alt="Biceps" width="200px" height="150"  src="/images/biceps_0.webp" />
            <br>
            <a href='@Url.Action("Biceps", "MuscleGroups")' title="Biceps"><h3>Biceps</h3></a>
        </td>
        <td>
            <img id="MuscleGroups" alt="Triceps" width="200px" height="150"  src="/images/triceps_0.webp" />
            <br>
            <a href='@Url.Action("Triceps", "MuscleGroups")' title="Triceps"><h3>Triceps</h3></a>
        </td>
        <td>
            <img id="MuscleGroups" alt="Forearms" width="200px" height="150"  src="/images/forearms_0.jpg" />
            @*<img src="@Url.Content("lib/images/forearms_0.jpg")" />*@
            <br>
            <a href='@Url.Action("Forearms", "MuscleGroups")' title="Forearms"><h3>Forearms</h3></a>
        </td>
        <td>
            <img id="MuscleGroups" alt="Abs" width="200px" height="150"  src="/images/abs_0.webp" />
            <br>
            <a href='@Url.Action("Abs", "MuscleGroups")' title="Abs"><h3>Abs</h3></a>
        </td>
    </tr>
    
    <tr>
        <td>
            <img id="MuscleGroups" alt="Glutes" width="200px" height="150"  src="/images/glutes_0.webp" />
            <br>
            <a href='@Url.Action("Glutes", "MuscleGroups")' title="Glutes"><h3>Glutes</h3></a>
        </td>
        <td>
            <img id="MuscleGroups" alt="Quads" width="200px" height="150"  src="/images/quads_0.webp" />
            <br>
            <a href='@Url.Action("Quads", "MuscleGroups")' title="Quads"><h3>Quads</h3></a>
        </td>
        <td>
            <img id="MuscleGroups" alt="Hamstrings" width="200px" height="150"  src="/images/hamstrings_0.webp" />
            <br>
            <a href='@Url.Action("Hamstrings", "MuscleGroups")' title="Hamstrings"><h3>Hamstrings</h3></a>
        </td>
        <td>
            <img id="MuscleGroups" alt="Calves" width="200px" height="150"  src="/images/calves_0.webp" />
            <br>
            <a href='@Url.Action("Calves", "MuscleGroups")' title="Calves"><h3>Calves</h3></a>
        </td>
    </tr>
</table></center>

<br>
<br>